@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
}

:root {
  --column-width: auto;
  --row-height: 48px;
}

* {
  font-family: Montserrat, 'sans-serif';
}

body {
  min-height: 100vh;
  min-width: fit-content;
  font-size: theme(fontSize.sm);
  font-weight: 500;
}